<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./styling.css">
</head>

<body>
    <header id="site-header">
        <h1>WELCOME TO JAVA SCRIPT FAN PAGE</h1>
        <h2>for those who love programming more than their own mom</h2>
          
    </header>

    <main>
      <section id="main" class="background">
         <!-- <section id="roadrunner-img">-->
              <img class="img" src="../images/roadrunner.jpg">
            <!--</section>-->
      </section>
    </main>

    <footer>

    </footer>
  
</body>
</html>

