<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./styling.css">
</head>

<body>
    <header>
        <h1>PHOTO GALLERY</h1>
        <h2>Java Script Fan Page</h2>
    </header>

    <main>
      <section id="gallery" class="background">
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
      </section>

    </main>

    <footer>

    </footer>
</body>
</html>